<div class='smMarginTop bg-White'>
    <form [formGroup]='form' (ngSubmit)="savePost()">
        <div class="form-group" [class.has-error]="question.touched && question.invalid" [class.has-success]="question.valid">
            <label for="question" class="lblTxt">Enter Question </label>
            <input type="text" class="form-control input-lg" id="question" formControlName="question" placeholder="Enter Question*">
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option1" placeholder="Enter Option1">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option2" placeholder="Enter Option2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option3" placeholder="Enter Option3">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option4" placeholder="Enter Option4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option5" placeholder="Enter Option5">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control input-lg" formControlName="option6" placeholder="Enter Option6">
            </div>
        </div>

        <div class="text-right alignRight">
            <button type="submit" class="btn btn-primary btnAlignRight" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
    <br><br>
    <div *ngIf='showActive'><b>Question Number {{qNo}} Saved</b></div>
</div>