<div class='container-fluid bgBlue noPadding'>
    <div class="questionDiv noPadding"><span [class.qCircle]="showChart">{{pollQestionOption?.pollId}}</span> &nbsp;&nbsp;{{pollQestionOption?.question}}</div>
</div>
<div class="noPadding smMarginTop">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right leftPadding">
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsA !== ''"><span class='alphaCircle'>A</span>&nbsp;&nbsp; {{pollQestionOption?.optionsA}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsB !== ''"><span class='alphaCircle'>B</span>&nbsp;&nbsp; {{pollQestionOption?.optionsB}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsC !== ''"><span class='alphaCircle'>C</span>&nbsp;&nbsp; {{pollQestionOption?.optionsC}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsD !== ''"><span class='alphaCircle'>D</span>&nbsp;&nbsp; {{pollQestionOption?.optionsD}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsE !== ''"><span class='alphaCircle'>E</span>&nbsp;&nbsp; {{pollQestionOption?.optionsE}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsF !== ''"><span class='alphaCircle'>F</span>&nbsp;&nbsp; {{pollQestionOption?.optionsF}}</p>
            <p class='optionsCircle' *ngIf="pollQestionOption?.optionsG !== ''"><span class='alphaCircle'>G</span>&nbsp;&nbsp; {{pollQestionOption?.optionsG}}</p>
        </div>
        <div class="gChart col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-left bg-White noPadding">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding" *ngIf="showChart">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="dataArr" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>

        </div>
    </div>
</div>